src/main/mule/jenkins-bb-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="faba2855-2462-4ab4-b736-12170a919ae1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-bb-pocFlow" doc:id="d2f3954f-f8c3-4881-9d2e-a794c19f792c" >
		<http:listener doc:name="Listener" doc:id="1771a098-c346-4b29-b24a-9cf9edc637ab" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Jenkins flow listens to the port 8081"]' doc:name="Set Payload" doc:id="f12e5eb9-4d24-4b57-acd1-06d17abbd4b8" />
		<logger level="INFO" doc:name="Logger" doc:id="209da9ad-4322-47c6-a698-b4850da9c965" message="#[payload]"/>
	</flow>
</mule>
